body {
	background-color: black;
	font-size: 18px;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: white;
}
#container {
	width: 100%;
}
#logo {
	width: 500px;
	display: block;
    margin-left: auto;
    margin-right: auto;
}